.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "caja1 caja2 caja2 caja3 caja3"
    "caja1 caja4 caja5 caja6 caja7"
    "caja1 caja9 caja8 caja8 caja10";

  gap: 10px;
}

.poster img {
  display: flex;
  width: 400px;
  height: auto;
  border: 4px solid #68a3b8;
  border-radius: 8px;
  align-items: center;
}

.duracionPelicula p {
  text-align: right;
}

.generoPelicula p {
  text-align: right;
}

.directorPelicula p {
  text-align: right;
}

.clasificacionPelicula p {
  text-align: right;
}

.horariosPelicula {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 30px;
  border: 4px solid #68a3b8;
  border-radius: 8px;
  background-color: #0f172a;
}

.puntuacionPelicula p {
  color: #e2b1f5;
  font-size: 24px;
  text-align: right;
}

.comprarEntradas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: 4px solid #68a3b8;
  border-radius: 8px;
  background-color: #0f172a;
}

@media (max-width: 1464px) {
  .contenedor {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "caja1 caja2"
      "caja1 caja3"
      "caja4 caja5"
      "caja6 caja7"
      "caja8 caja8"
      "caja9 caja10";
  }

  .poster {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 725px) and (max-width: 860px) {
  .contenedor {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "caja2 caja2"
      "caja1 caja1"
      "caja3 caja3"
      "caja4 caja4"
      "caja5 caja5"
      "caja6 caja6"
      "caja7 caja7"
      "caja9 caja9"
      "caja8 caja8"
      "caja10 caja10";
  }

  .poster {
    display: flex;
    justify-content: center;
  }

  .poster img {
    width: 90%;
    height: auto;
  }

  .horariosPelicula {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 4px solid #68a3b8;
    border-radius: 8px;
    background-color: #0f172a;
  }

  .horariosPelicula h3,
  .horariosPelicula p {
    margin: 0;
  }

  .comprarEntradas {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #68a3b8;
    border-radius: 8px;
    background-color: #0f172a;
  }
}

@media (min-width: 375px) and (max-width: 724px) {
  .contenedor {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "caja2 caja2"
      "caja1 caja1"
      "caja3 caja3"
      "caja4 caja4"
      "caja5 caja5"
      "caja6 caja6"
      "caja7 caja7"
      "caja9 caja9"
      "caja8 caja8"
      "caja10 caja10";
  }

  .poster {
    display: flex;
    justify-content: center;
  }

  .poster img {
    width: 90%;
    height: auto;
  }

  .horariosPelicula {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 4px solid #68a3b8;
    border-radius: 8px;
    background-color: #0f172a;
  }

  .horariosPelicula h3,
  .horariosPelicula p {
    margin: 0;
  }

  .comprarEntradas {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #68a3b8;
    border-radius: 8px;
    background-color: #0f172a;
  }
}
