@import url(./components/poster.css); /* solo tiene modificado las dimensiones de las img */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* Paleta personalizada: */
/*:root {
  --color-fondo: #0f172a;
  --color-superficie: #1e293b;
  --color-primario: #7e58b0;
  -- color-secundario: #68a3b8;
  -- color-texto: #f8fafc;
  -- color-texto-suave: #e2b1f5
*/

body {
  background-color: #1e293b;
  color: #f8fafc;
  font-family: "DM Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 20px;
}

h1 {
  font-size: 38px;
  color: #e2b1f5;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  color: #f8fafc;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  color: #f8fafc;
  font-weight: bold;
}
