.form-input {
  padding: 8px;
  border-radius: 4px;
  border: none;
}

.login-button {
  background-color: var(--color-primario);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.login-button:hover {
  opacity: 0.8;
}

.form-input:focus {
  outline: 2px solid var(--color-secundario);
}

@media (max-width: 768px) {
  .login-form {
    width: 90%;
  }
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    135deg,
    var(--color-fondo),
    var(--color-superficie)
  );
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--color-superficie);
  padding: 32px;
  border-radius: 12px;
  width: 320px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.login-form h2 {
  text-align: center;
}